{% extends 'base.html.twig' %}
{% block body %}
Bienvenue sur TravelAdvisor {{ prenom }}
  <li>
        <a href="{{ path('travel_advisor_homepage') }}">
        <br/>
        Index</a>
  </li>
{% endblock %}
